{% extends "bootstrap/base.html" %}

{% block title %}Peng | {{ title }}{% endblock %}

<!-- head -->
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
    <script src="http://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
{% endblock %}

<!-- nav bar -->
{% block navbar %}
    <nav class="navbar navbar-default ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Administrap</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('cms.index') }}">Dashboard</a></li>
            <li><a href="{{ url_for('cms.pages') }}">Pages</a></li>
            <li><a href="{{ url_for('cms.posts') }}">Posts</a></li>
            <li><a href="{{ url_for('cms.users') }}">Users</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">  
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
                
                {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}



<!-- contents -->
{% block content %}
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Dashboard<small>Manage your site</small></h1>
                </div>
                <div class="col-md-2">
                    <div class="dropdown create">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Create Content
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a type="button" data-toggle="modal" data-target="#addPage">Add Page</a></li>
                        <li><a href="#">Add Post</a></li>
                        <li><a href="#">Add User</a></li>
                        
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    
</div>

    
{% endblock %}

<!-- scripts -->
{% block scripts %}
    {{ super() }}
    
    <script src="http://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endblock %}